:root {
    --color: #304C89;
    --color: #78ACEF;
    --color: #E07A5F;
    --color: #CDC392;
}

h1 {
    position: absolute;
    color: #E07A5F
}

h2 {
    color: #78ACEF
}

p {
    padding: 0px
}

nav {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
}

article.hero img {
    position: relative;
    right: 0;
}